
$radius: 0.2rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2rem;
}

.logo {
    font-size: 1in;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    color: gold;
}

.wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit,
    minmax(12rem, 16rem));
    gap:2rem;
    justify-content: center;
}

.card{
    overflow:hidden;
    box-shadow: 0 2px 20px;
    border-radius:$radius;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    transition:transform 200ms ease-in;
    top: 50%;
    
    &__image{
        height:12rem;
        width:100%;
        object-fit:cover;
    }

    &__title{
        padding:1rem;}

    &__btn{
        padding:1rem;
        font-family:inherit;
        font-weight:bold;
        font-size:1rem;
        margin:1rem;
        border:2px solid cornflowerblue;
        background:transparent;
        color: navy;
        border-radius:$radius;
        transition:background 200ms ease-in, color 200ms ease-in;
    }

    &:hover{
        transform:scale(1.02);
    }
    
    &:hover &__btn{
        background: gold;
        color:white;
    }
}