html, #root {
  background-color: #FFA904;
}

#root > .container {
  background-color: #d0d2d6;
  height: 100vh;
  display: block;
  margin: auto;
  padding: 0;
}

#header {
  text-align: center;
  height: 20%;
  min-height: 200px;
  display: block;
  background-color: #0E40A9;
}

#header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 100px;
  color: #FFA904;
}

#header button {
  background-color: #d0d2d6;
}

#header button.active, #header button:active {
  background-color: #FFA904;
}

#header button:hover {
  color: #434446;
  border-color: #FFA904;
}

.page-container {
  padding-top: 1rem;
  overflow-y: scroll;
  height: 70%;
}

#footer {
  position: fixed;
  bottom: 0;
  min-height: 10%;
  text-align: center;
  padding-top: 3rem;
}

.card {
  flex-shrink: 0;
  width: 300px;
  /* height: 200px; */
  margin-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all ease .5s;
}

.card:hover {
  transform: scale(1.05)
}

.card-img {
  height: 250px;
}

.card-container {
  margin-left: 25px;
  display: flex;
  overflow-x: scroll;
  width: 97%;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 60px;
  padding-left: 4px;
}

.details-info {
  width: 250px;
  margin-bottom: auto;
  padding-left: 5px;
}

.App-link {
  color: #61dafb;
}

.container-fluid {
  align-content: center;
  text-align: center;
}

.font {
  font-size: 1in;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: gold;
}

.btn-outline {
  align-content: center;
}

